extends layout

block content
<<<<<<< HEAD
  h1 Find Your Train Windows after the merge conflict
  h1 Find Your Train! with a branch
>>>>>>> 4473021dff49b37cf32ef343eca4caeb283378c6
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
